<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.caicongyang.stock.mapper.CommonMapper">

    <!--为保证查询的字段值有序（存入与取出顺序一致）所以用LinkedHashMap-->
    <select id="queryTransactionStock" parameterType="java.util.HashMap" resultType="java.util.HashMap">
        SELECT
        s0.stock_code,
        s0.lastDayCompare AS last_day_compare,
        s1.mean_ratio AS mean_ratio,
        s0.pct_chg
        FROM
        (
        SELECT
        t0.stock_code,
        t0.volume / t1.volume AS lastDayCompare,
        t0.pct_chg
        FROM
        ( SELECT stock_code, volume, `close`, `open`, `high`, `low`,pct_chg FROM T_Stock WHERE trade_date = #{currentDate} ) AS t0 -- 最后一个交易日
        LEFT JOIN ( SELECT stock_code, volume,`close` FROM T_Stock WHERE trade_date = #{preDate} ) AS t1 ON t0.stock_code = t1.stock_code  -- 倒数第二个交易
        WHERE
        t0.volume / t1.volume > 2   -- 成交量是前一天的2倍
        AND t0.`close` >= t0.`open`  --  收盘价 大于开盘价
        AND  t0.`close`/ t1.`close` > 1
        ) s0
        JOIN (

        SELECT
        t0.volume / ( t1.mean ) AS mean_ratio,
        t0.stock_code
        FROM
        T_Stock AS t0
        LEFT JOIN (
        SELECT
        SUM( volume ) / 5 AS mean,  -- 获取最近4个工作日的成交量平均数
        stock_code
        FROM
        T_Stock
        WHERE
        trade_date IN ( SELECT trade_date FROM ( SELECT trade_date FROM T_Stock WHERE stock_code = '000001' and trade_date <![CDATA[ <= ]]>  #{currentDate}  ORDER BY trade_date DESC LIMIT 6 ) AS t )
        and  trade_date != #{currentDate}
        -- 获取最近4个交易日的交易时间
        GROUP BY
        stock_code
        ) t1 ON t0.stock_code = t1.stock_code
        WHERE
        t0.trade_date = #{currentDate}
        AND t1.mean != 0  and t1.mean is not null
        AND t0.volume / t1.mean > 2  -- 当日的成交量是前4个平均数
        ) s1 ON s0.stock_code = s1.stock_code;
    </select>


    <!--获取倒数第二个交易日-->
    <select id="queryPreTradingDate" resultType="java.lang.String" parameterType="java.lang.String">
      SELECT trade_date FROM ( SELECT trade_date FROM T_Stock WHERE stock_code = '000001' and trade_date <![CDATA[ <= ]]>   #{currentDate} ORDER BY trade_date DESC limit  1,1 ) AS t
    </select>

    <!--获取倒数第二个交易日-->
    <select id="queryTradingDate" resultType="java.lang.String" parameterType="java.lang.String">
        SELECT trade_date FROM ( SELECT trade_date FROM T_Stock WHERE stock_code = '000001' and trade_date <![CDATA[ <= ]]>   #{currentDate} ORDER BY trade_date DESC limit  1 ) AS t
    </select>



    <!--获取倒数第一个交易日-->
    <select id="queryLastTradingDate" resultType="java.lang.String">
      SELECT trade_date FROM ( SELECT trade_date FROM T_Stock ORDER BY trade_date DESC limit  1,1 ) AS t
    </select>


    <select id="queryLastWeekTradingDate" resultType="java.lang.String">
      SELECT trade_date FROM ( SELECT trade_date FROM T_Stock_Week ORDER BY trade_date DESC limit  1,1 ) AS t
    </select>

    <select id="queryPreWeekTradingDate" resultType="java.lang.String">
       SELECT trade_date FROM ( SELECT trade_date FROM T_Stock_Week WHERE stock_code = '000001' and trade_date <![CDATA[ <= ]]>   #{currentDate} ORDER BY trade_date DESC limit  1,1 ) AS t
    </select>

    <select id="getIntervalTransactionStockData" parameterType="java.util.HashMap" resultType="java.util.HashMap">
        SELECT
            t.counter,
            s.trade_date,
            s.stock_code,
            i.industry_name,
            i.stock_name
        FROM
            (SELECT count(*) AS counter, stock_code 
             FROM t_volume_increase 
             WHERE trade_date BETWEEN #{startDate} AND #{endDate} 
             GROUP BY stock_code 
             HAVING counter > 1) as t
        LEFT JOIN t_volume_increase s ON t.stock_code = s.stock_code
        LEFT JOIN t_industry_stock i ON s.stock_code = i.stock_code
        WHERE
            s.trade_date BETWEEN #{startDate} AND #{endDate}
        ORDER BY
            s.trade_date DESC,
            i.industry_name,
            t.counter DESC

    </select>


    <select id="getBreakthroughPlatform" parameterType="java.util.HashMap"
        resultType="java.util.HashMap">
	SELECT
	ts.stock_code,
	sh.interval_days,
	ts.last_day_compare,
	ts.mean_ratio,
	ts.jq_l2,
	ts.zjw,
	ts.sw_l3,
	ts.trading_day,
	ts.gain
FROM
	t_transaction_stock ts
	INNER JOIN t_Stock_Higher sh ON sh.stock_code = ts.stock_code
	AND sh.trading_day = ts.trading_day
WHERE
	ts.trade_date = #{currentDate}
	ORDER BY
<!--        ts.sw_l3 asc ,-->
        sh.interval_days desc


    </select>




    <select id="getVolumeGtYesterdayStock" parameterType="java.util.HashMap"
        resultType="java.util.HashMap">

    SELECT
    tf.volume / ts.volume AS counter,
    tf.stock_code
    FROM
    T_Stock_Half_Day tf
    LEFT JOIN (select stock_code, volume from T_Stock where  trade_date = #{preDate}) as ts  ON tf.stock_code = ts.stock_code
    WHERE
    tf.trade_date = #{currentDate}
    AND tf.volume / ts.volume > 1
    ORDER BY
    tf.volume / ts.volume DESC;
    </select>

    <select id="getTransactionAndClose2TenDayAvgStockData" parameterType="java.lang.String"
            resultType="com.caicongyang.stock.domain.TVolumeIncreaseDTO">
        SELECT 
            t.*, 
            i.industry_code, 
            i.industry_name,
            i.stock_name
        FROM 
            t_volume_increase t
        LEFT JOIN 
            t_industry_stock i ON t.stock_code = i.stock_code
        WHERE 
            t.stock_code IN (
                SELECT 
                    t1.stock_code 
                FROM 
                    t_stock t1 
                JOIN 
                    t_stock_10day_avg t2 ON t1.stock_code = t2.stock_code AND t1.low <![CDATA[ <= ]]> t2.avg_10day 
                WHERE
                    t1.trade_date = #{currentDate} AND t2.trade_date = #{currentDate}
            ) 
        ORDER BY 
            t.trade_date DESC,
            i.industry_name desc,
            t.volume_increase_ratio DESC
    </select>




    <select id="getTransactionStockDataWithIndustry" resultType="com.caicongyang.stock.domain.TVolumeIncreaseDTO">
        SELECT v.*, i.industry_code, i.industry_name,i.stock_name, r.main_net_inflow_3d as mainNetInflow3d,
        t.fund_flow as fundFlow ,t.turnover_rate  as turnoverRate
        FROM t_volume_increase v
        LEFT JOIN t_industry_stock i ON v.stock_code = i.stock_code
        left join t_stock_fund_flow_rank  r on v.stock_code = r.stock_code
        left join t_stock_fund_flow_tsh  t on v.stock_code = t.stock_code

        WHERE v.trade_date = #{currentDate}
        ORDER BY COALESCE(i.industry_name, '未分类'), v.volume_increase_ratio DESC
    </select>

</mapper>
