<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.caicongyang.stock.mapper.TStockLimitMapper">


    <select id="getIntervalLimitStockData"  parameterType="java.util.HashMap" resultType="com.caicongyang.stock.domain.TStockLimitDTO">
        SELECT
            s.stock_code  as stockCode,
            s.max( trade_date )  as tradeDate,
            count( s.* ) as counter,
            r.industry_name as industry_name
        FROM
            t_stock_Limit s
        left join t_industry_stock r on   s.stock_code = r.stock_code
        where  trade_date between  #{startDate}
        and #{endDate}
        GROUP BY
            stock_code
        HAVING
            counter > 1
        ORDER BY
            counter DESC,
            max( trade_date ) desc
    </select>


    <select id="getLimitAndTransactionStock"  parameterType="java.util.HashMap"   resultType="com.caicongyang.stock.domain.TStockLimitDTO">

       select DISTINCT r.* ,s.stock_name , s.industry_name  from (
        SELECT
            t.stock_code,
            count(t.id) AS counter
        FROM
            t_stock_limit AS l
            JOIN t_volume_increase AS t ON l.stock_code = t.stock_code
        WHERE
            l.trade_date = #{currentDate}
          AND t.trade_date BETWEEN #{startDate}
            AND #{endDate}
        GROUP BY
            t.stock_code
        ORDER BY counter desc
        ) as r
        left join t_industry_stock s on   s.stock_code = r.stock_code
        order by s.industry_name
    </select>


    <select id="getTransactionAndLimitStock" parameterType="java.util.HashMap"   resultType="com.caicongyang.stock.domain.TransactionAndLimitStockDTO">
        SELECT DISTINCT
        r.*,
        s.stock_name,
        s.industry_name
        FROM
        (
        SELECT
        t.stock_code,
        t.volume_increase_ratio,
        count( l.stock_code ) AS counter
        FROM
        t_volume_increase AS t
        JOIN t_stock_limit AS l ON l.stock_code = t.stock_code
        WHERE
        t.trade_date = #{currentDate}
        AND l.trade_date BETWEEN #{startDate}
        AND #{endDate}
        GROUP BY
        l.stock_code
        ORDER BY
        counter DESC
        ) AS r
        LEFT JOIN t_industry_stock s ON s.stock_code = r.stock_code
        order by s.industry_name
    </select>
</mapper>
